<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="ScriptScripter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="ScriptScripter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <!--<appSettings>
		<add key="LocalInstanceName" value="(local)\sql2008" />
	</appSettings>-->
 <applicationSettings>
  <ScriptScripter.My.MySettings>
   <setting name="DisableBackgroundImage" serializeAs="String">
    <value>False</value>
   </setting>
  </ScriptScripter.My.MySettings>
 </applicationSettings>
 <userSettings>
  <ScriptScripter.My.MySettings>
   <setting name="DBConnection_Server" serializeAs="String">
    <value/>
   </setting>
   <setting name="DBConnection_User" serializeAs="String">
    <value/>
   </setting>
   <setting name="DBConnection_UseTrustedConnection" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DBConnection_Password" serializeAs="String">
    <value/>
   </setting>
  </ScriptScripter.My.MySettings>
 </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>
</configuration>
